# Dependencies
node_modules/
.pnpm-store

# Next.js
.next/
out/

# Production
build/
dist/

# Misc
.DS_Store
*.pem
*.log

# Environment Variables
.env
.env.local
.env.*.local
**/.env
**/.env.local
**/.env.*.local
.env.production
.env.development

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Generated Prisma client
**/src/generated/

# IDE
.vscode/
.idea/
